@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

button {
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.2);
}

button:hover {
    opacity: 0.9;
}

.bg-gn {
    background-color: #258A86;
}

.bg-rd {
    background-color: #E1283A;
}

.reindeer-header {
    display: flex;
    justify-content: space-around;
    background-color: #E6D8D6;
}

.home-container {
    display: flex;
    align-items: center;
}

.home-title {
    font-size: 3rem;
    font-weight: bold; 
    color: #258A86;
}

.home-icon {
    height: 60px;
    width: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-links .sign-in {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.sign-in-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.nav-link {
    text-decoration: none;
    color: #258A86;
    font-weight: bold; 
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #E1283A;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}