.intro-text-block {
    width: 30%;
}

.intro-text-block h4,
.intro-text-block h2,
.intro-text-block p {
    margin: 0.75rem;
}

.intro-text-block button {
    margin-top: 1.5rem;
    transform: translateX(100%);
}

.feature {
    display: flex;
}

.feature-text-box {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.feature-text-box > * {
    margin: 0;
}

.feature {
    padding: 1rem;
}

.circle-bg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.features button {
    margin-top: 1.5rem;
    transform: translateX(50%);
}