.intro-text-block {
    width: 30%;
}

.intro-text-block h4,
.intro-text-block h2,
.intro-text-block p {
    margin: 0.75rem;
}

.intro-text-block button {
    margin-top: 1.5rem;
    transform: translateX(100%);
}


.features button {
    margin-top: 1.5rem;
    transform: translateX(50%);
    /* try display block */
}